h1{
    color: black;
    background-color: aliceblue;
    text-align: center;
    font-style: oblique;
}

h2{
    text-align: center;
    color: black;
    background-color: yellowgreen;
    font-style: initial;



}

h3{
    text-align: center;
    color: black;
    background-color:aliceblue;
    font-style: oblique;
}
